@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

*,
*::after,
*::before { /* Universal Selector, for resetting */
    margin: 0;
    padding: 0;
    box-sizing: inherit; /* Box-sizing özelliğini tüm elementlere uygula */
}

html {
    /* css cascade özelliği kullanıyoruz, font-size diğer elementlerde kullanılacak.*/
    /* 1rem = 16px (default browser settings - eğer isterse değiştirebilir), diğer elementlerde rem kullanılacak */
    /* user origin'den gelen browser setting'leri kullanıyoruz*/
    font-size: 62.5%; /* 10/16 = 0.625*/ 
    
    @include respond (tab-land) {
        font-size: 56.25%;
    }
    @include respond (tab-port) {
        font-size: 50%;
    }

    @include respond (big-desktop) {
        font-size: 75%;
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}